<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  
  <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
<div class="container-fluid text-center">	
    <form class="form-signin" action="/" method="POST">
        <img class="mb-4" src="photos/nitt.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <label for="rollno" class="sr-only">Rollno</label>
        <input type="string" id="rollno" name = "rollno" class="form-control" placeholder="Roll no." required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name = "password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Login</button>
      </form>
      <form action="/signup" class = "form-signin">
          <button class="btn btn-lg btn-secondary btn-block" type="submit" >Signup</button>
      </form>
</div>
   
</body>
</html>
