<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Signup</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
    <form class="form-signin" action="/signup" method="POST">
       
  <img class="mb-4" src="/photos/nitt.png" alt="" width="72" height="72">
  <% for (let message of msg){ %>
  <div class="errorMsg alert alert-danger">
    <%= message.msg %>
  </div>
  <% } %>
  <h1 class="h3 mb-3 font-weight-normal">Please Signup</h1>
  <label for="rollno" class="sr-only">Rollno</label>
  <input type="string" id="rollno" name="rollno" class="form-control" placeholder="Roll no." required autofocus>
  <label for="name" class="sr-only">Name</label>
  <input type="string" id="name" name = "name" class="form-control" placeholder="Name" required autofocus>
  <label for="dept" class="sr-only">Department</label>
  <input type="string" id="dept" name = "dept" class="form-control" placeholder="Department" required autofocus>
  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name = "password" class="form-control" placeholder="Password" required>
  <label for="confirmPassword" class="sr-only">Confirm Password</label>
  <input type="password" id="confirmPassword" name = "confirmPassword" class="form-control" placeholder="Confirm Password" required>
  <label for="caption" class="sr-only">Caption</label>
  <textarea type="string" id="caption" name = "caption" class="form-control" placeholder="Caption" required autofocus></textarea>
  <button class="btn btn-lg btn-secondary btn-block " type="submit" style="margin-top: 10px;">Signup</button>
  
</form>
</body>
</html>
